* {
    margin: 0;
    padding: 0;
}

$first-color: #5f0797;
$second-color: #ef0eb9;

@font-face {
    font-family: Ubuntu;
    src: url(../assets/fonts/Ubuntu-R.ttf);
}

@font-face {
    font-family: Ubuntu-bold;
    src: url(../assets/fonts/Ubuntu-B.ttf);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
    position: relative;
    background: url("../assets/noise_transparent.png"), linear-gradient(90deg, rgba(22, 0, 36, 0.4962359943977591) 0%, rgba(245, 218, 242, 0.40940126050420167) 52%, rgba(252, 54, 231, 0.3085609243697479) 100%, rgba(0, 212, 255, 1) 100%);
    background-repeat: repeat;

    .container {
        max-width: 70%;
        width: 300px;
        border-radius: 5%;
        box-sizing: border-box;
        margin: 0 auto;
        box-shadow: 0px 5px 20px 5px #414040;
        font-family: Ubuntu, sans-serif;
        margin-bottom: 50px;

        .player-image {
            width: 100%;
            height: 270px;
            border-radius: 5%;
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .player-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            box-sizing: border-box;
            height: 210px;
            position: relative;

            .playlist {
                position: absolute;
                width: 8px;
                height: 8px;
                top: 7px;
                right: 10px;
                padding: 5px;
                background: url('../assets/svg/playlist.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                cursor: pointer;
                z-index: 3;
            }

            .playlist-info {
                position: absolute;
                right: 0;
                top: 0;
                width: 250px;
                background-color: #a491af;
                font-size: 13px;
                z-index: 2;
                opacity: 0;
                visibility: hidden;
                max-height: 210px;
                transition: all .3s linear;
                color: white;


                .song-wrapper {
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    .track {
                        span {
                            font-family: Ubuntu-Bold, sans-serif;
                            color: $second-color;
                        }
                    }
                }

                &.open {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .author-name {
                text-align: center;
                font-family: Ubuntu-Bold, sans-serif;
                font-size: 17px;
                margin: 10px 0;
                color: $first-color;
                z-index: -1;
            }

            .song-name {
                text-align: center;
                font-family: Ubuntu, sans-serif;
                font-size: 15px;
                color: black;
            }

            .progress {
                width: 80%;
                height: 4px;
                background-color: rgb(172, 166, 166);
                position: relative;
                margin: 25px 0;
                cursor: pointer;

                .time {
                    position: absolute;
                    font-size: 12px;
                    color: black;

                    &.total-time {
                        top: -17px;
                        right: 0;
                    }

                    &.current-time {
                        top: 10px;
                        right: left;
                    }
                }

                .bar {
                    background-color: $second-color;
                    width: 0%;
                    height: 100%;
                    transition: 0.25s;
                }
            }

            .player-controls {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 15px;

                .shuffle {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: black;
                    cursor: pointer;

                    img {
                        width: 100%;
                    }
                }

                .btn {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: $second-color;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all .5s linear;

                    img {
                        width: 70%;
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                .active-btn {
                    width: 40px;
                    height: 40px;
                    background-image: url('../assets/svg/pause.svg');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    transition: all 0.2s linear;
                    border: 2px solid $second-color;
                    border-radius: 50%;
                    transition: all .3s linear;

                    &.pause {
                        background-image: url('../assets/svg/play-btn.svg');
                        background-size: 80%;
                        background-position-x: 75%;

                        &:hover {
                            animation: rotateBtn 1.2s linear forwards infinite;
                        }
                    }
                }

                .volume-btn {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: $second-color;
                    cursor: pointer;
                    background-image: url('../assets/svg/volume-mute.svg');
                    background-position: center;
                    background-size: 80%;
                    background-repeat: no-repeat;
                    transition: all .3s linear;
                    position: relative;

                    &.active {
                        background-image: url('../assets/svg//volume-active.svg');
                    }

                    .volume-bar-wrapper {
                        position: absolute;
                        top: -70px;
                        right: -23px;
                        padding: 5px 10px;
                        background-color: #414040;
                        transition: all .3s linear;
                        opacity: 0;
                        z-index: 2;

                        .volume-bar {
                            width: 5px;
                            height: 60px;
                            border-radius: 10px;
                            background-color: rgb(172, 166, 166);
                            transform: rotate(180deg);

                            .volume-progress {
                                background-color: $second-color;
                                height: 0%;
                                width: 100%;
                                transition: 0.25s;
                            }
                        }
                    }

                    &:hover .volume-bar-wrapper {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .footer {
        width: 100dvw;
        position: absolute;
        bottom: 0;


        .footer-wrapper {
            margin: 0 auto;
            width: 60%;
            padding: 5px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: Ubuntu, sans-serif;
            font-size: 12px;

            a {
                text-decoration: none;
                color: black
            }

            .school {
                display: block;
                width: 70px;
            }
        }
    }
}

@keyframes moveBar {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes rotateBtn {
    0% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}