* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Ubuntu;
    src: url(../assets/fonts/Ubuntu-R.ttf);
}

@font-face {
    font-family: Ubuntu-bold;
    src: url(../assets/fonts/Ubuntu-B.ttf);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;

    .container {
        max-width: 70%;
        width: 300px;
        border: 2px solid red;
        border-radius: 5%;
        box-sizing: border-box;
        margin: 0 auto;
        font-family: Ubuntu, sans-serif;

        .player-image {
            width: 100%;
            height: 250px;
            border-radius: 5%;
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .player-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
            padding: 15px 20px;
            box-sizing: border-box;

            .author-name {
                text-align: center;
                font-family: Ubuntu-Bold, sans-serif;
                font-size: 18px;
            }

            .song-name {
                text-align: center;
                font-family: Ubuntu, sans-serif;
                font-size: 16px;
            }

            .progress {
                width: 80%;
                height: 4px;
                background-color: gray;
                position: relative;
                margin-top: 10px;
                cursor: pointer;

                .time {
                    position: absolute;
                    font-size: 12px;

                    &.total-time {
                        top: -17px;
                        right: 0;
                        color: rgb(226, 16, 121)
                    }

                    &.current-time {
                        top: 10px;
                        right: left;
                        color: rgb(113, 12, 245)
                    }
                }

                &.active {
                    background-color: orange;
                    animation: moveBar 5000ms linear 1;
                }

                .bar {
                    background-color: orange;
                    width: 0%;
                    height: 100%;
                    transition: 0.25s;
                }
            }

            .player-controls {
                display: flex;
                gap: 20px;
                align-items: center;
                justify-content: space-between;

                .btn {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;

                    img {
                        width: 100%;
                    }
                }

                .active-btn {
                    width: 30px;
                    height: 30px;
                    background-image: url('../assets/svg/pause.png');
                    background-position: center;
                    background-size: contain;
                    cursor: pointer;
                    transition: all 0.2s linear;

                    &.pause {
                        background-image: url('../assets/svg/play.png');
                    }
                }
            }
        }
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100dvw;
        background-color: rgb(243, 197, 232);


        .footer-wrapper {
            margin: 0 auto;
            width: 60%;
            padding: 20px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: Ubuntu, sans-serif;
            font-size: 12px;

            a {
                text-decoration: none;
                color: black
            }

            .school {
                display: block;
                width: 70px;
            }
        }
    }
}

@keyframes moveBar {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}