* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Ubuntu;
  src: url(../assets/fonts/Ubuntu-R.ttf);
}
@font-face {
  font-family: Ubuntu-bold;
  src: url(../assets/fonts/Ubuntu-B.ttf);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  position: relative;
  background: url("../assets/noise_transparent.png"), linear-gradient(90deg, rgba(22, 0, 36, 0.4962359944) 0%, rgba(245, 218, 242, 0.4094012605) 52%, rgba(252, 54, 231, 0.3085609244) 100%, rgb(0, 212, 255) 100%);
  background-repeat: repeat;
}
body .container {
  max-width: 70%;
  width: 300px;
  border-radius: 5%;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0px 5px 20px 5px #414040;
  font-family: Ubuntu, sans-serif;
  margin-bottom: 50px;
}
body .container .player-image {
  width: 100%;
  height: 270px;
  border-radius: 5%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
body .container .player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  box-sizing: border-box;
  height: 200px;
}
body .container .player-info .author-name {
  text-align: center;
  font-family: Ubuntu-Bold, sans-serif;
  font-size: 17px;
  margin-bottom: 10px;
  color: rgb(95, 7, 151);
}
body .container .player-info .song-name {
  text-align: center;
  font-family: Ubuntu, sans-serif;
  font-size: 15px;
  color: black;
  /*    color: $second-color; */
}
body .container .player-info .progress {
  width: 80%;
  height: 4px;
  background-color: rgb(172, 166, 166);
  position: relative;
  margin: 25px 0;
  cursor: pointer;
}
body .container .player-info .progress .time {
  position: absolute;
  font-size: 12px;
  color: black;
}
body .container .player-info .progress .time.total-time {
  top: -17px;
  right: 0;
}
body .container .player-info .progress .time.current-time {
  top: 10px;
  right: left;
}
body .container .player-info .progress .bar {
  background-color: #ef0eb9;
  width: 0%;
  height: 100%;
  transition: 0.25s;
}
body .container .player-info .player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
body .container .player-info .player-controls .shuffle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}
body .container .player-info .player-controls .shuffle img {
  width: 100%;
}
body .container .player-info .player-controls .btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ef0eb9;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
}
body .container .player-info .player-controls .btn img {
  width: 70%;
}
body .container .player-info .player-controls .btn:hover {
  transform: scale(1.1);
}
body .container .player-info .player-controls .active-btn {
  width: 40px;
  height: 40px;
  background-image: url("../assets/svg/pause.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.2s linear;
  border: 2px solid #ef0eb9;
  border-radius: 50%;
  transition: all 0.3s linear;
}
body .container .player-info .player-controls .active-btn.pause {
  background-image: url("../assets/svg/play-btn.svg");
  background-size: 80%;
  background-position-x: 75%;
}
body .container .player-info .player-controls .active-btn.pause:hover {
  animation: rotateBtn 1.2s linear forwards infinite;
}
body .container .player-info .player-controls .volume-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ef0eb9;
  cursor: pointer;
  background-image: url("../assets/svg/volume-mute.svg");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  transition: all 0.3s linear;
  position: relative;
}
body .container .player-info .player-controls .volume-btn.active {
  background-image: url("../assets/svg//volume-active.svg");
}
body .container .player-info .player-controls .volume-btn .volume-bar-wrapper {
  position: absolute;
  top: -80px;
  left: 2px;
  padding: 5px 10px;
  background-color: #414040;
  transition: all 0.3s linear;
  opacity: 0;
  z-index: 2;
}
body .container .player-info .player-controls .volume-btn .volume-bar-wrapper .volume-bar {
  width: 4px;
  height: 60px;
  border-radius: 10px;
  background-color: rgb(172, 166, 166);
  transform: rotate(180deg);
}
body .container .player-info .player-controls .volume-btn .volume-bar-wrapper .volume-bar .volume-progress {
  background-color: #ef0eb9;
  height: 0%;
  width: 100%;
  transition: 0.25s;
}
body .container .player-info .player-controls .volume-btn:hover .volume-bar-wrapper {
  opacity: 1;
}
body .footer {
  width: 100dvw;
  background-color: rgb(243, 197, 232);
  position: absolute;
  bottom: 0;
  display: none;
}
body .footer .footer-wrapper {
  margin: 0 auto;
  width: 60%;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Ubuntu, sans-serif;
  font-size: 12px;
}
body .footer .footer-wrapper a {
  text-decoration: none;
  color: black;
}
body .footer .footer-wrapper .school {
  display: block;
  width: 70px;
}

@keyframes moveBar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes rotateBtn {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}/*# sourceMappingURL=styles.css.map */