@import "../common/common-styles.scss";

.page {
    margin-top: -120px;
}

.main {
    background: url(../../assets/images/noise.png), radial-gradient(circle at top left, #5B483A, #262425 85%);
    padding-top: 180px;
    background-repeat: repeat;

    .container {
        @include flex();
        gap: 42px;

        .main-description {
            max-width: 460px;
            @include flex-column();
            gap: 42px;
            padding-bottom: 78px;

            .main-title {
                font-size: 44px;
                color: $color-light-xl;
                font-family: Georgia-Regular, sans-serif;
                max-width: 310px;
                line-height: 130%;
                font-weight: initial;
            }

            .main-text {
                color: $color-dark-s;
                line-height: 160%;
                width: 100%;
            }

            .main-btn {
                width: 207px;
                @include btn();
                transition: 0.5s;

                a {
                    @include btn-link();
                }

                &:hover {
                    background-color: $color-primary-light;
                }
            }
        }

        .main-image {
            display: flex;

            img {
                width: 100%;
            }
        }
    }
}

.about {
    background-color: $color-light-xl;
    padding-top: 80px;
    padding-bottom: 100px;

    .container {
        @include flex();
        justify-content: center;
        gap: 120px;

        .about-image {
            max-height: 408px;
        }

        .about-info {
            @include flex-column();
            gap: 25px;
            max-width: 430px;

            .about-title {
                @include title();
                max-width: 363px;
                font-family: Georgia-Regular, sans-serif;
                line-height: 129%;
            }

            .about-text {
                line-height: 160%;
                color: $color-dark-xl;
            }
        }
    }
}

.pets {
    background-color: $color-light-l;
    padding-top: 80px;
    padding-bottom: 100px;

    .container {
        @include flex-column();
        align-items: center;
        gap: 60px;

        .pets-title {
            @include title();

            span {
                display: block;
                text-align: center;
            }
        }

        .pets-cards-wrapper {
            @include flex();
            width: 100%;
            overflow-x: hidden;

            .narrow {
                @include roud-btn();
            }

            .pets-cards {
                width: 990px;
                overflow-x: hidden;

                .pets-sliders {
                    position: relative;
                    overflow: hidden;

                    .slider {
                        @include flex();
                        transition: all 0.5s linear;
                        width: 100%;

                        .card {
                            @include card();
                        }
                    }

                    .slider-active {
                        position: relative;
                    }

                    .slider-left,
                    .slider-right {
                        position: absolute;
                        top: 0;
                        left: -100%;
                    }
                }
            }
        }

        .pets-btn {
            width: 261px;
            @include btn();
            transition: 0.5s;

            a {
                @include btn-link();
                text-align: center;
                letter-spacing: 0.9px;
            }

            &:hover {
                background-color: $color-primary-light;
            }
        }

        .modal-wrapper {
            position: fixed;
            width: 100dvw;
            height: 100dvh;
            background-color: rgba(41, 41, 41, 0.6);
            top: 0;
            left: 0;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            transition: all 0.7s ease;


            .modal-window {
                box-sizing: border-box;
                padding-right: 20px;
                max-width: 900px;
                max-height: 500px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 29px;
                background-color: $color-light-s;
                position: fixed;
                z-index: 10;
                border-radius: 9px;
                box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);


                .modal-image {
                    max-height: 500px;

                    img {
                        width: 500px;
                        height: 100%;
                        border-radius: 9px 0 0 9px;
                    }
                }

                .modal-info {
                    padding-top: 50px;
                    padding-bottom: 88px;
                    color: #000000;
                    max-width: 351px;
                    font-family: Georgia-Regular, sans-serif;

                    .pet-name {
                        @include title();
                        color: #000000;
                        margin-bottom: 10px;
                    }

                    span {
                        font-size: 20px;
                        line-height: 115%;
                        letter-spacing: 0.06em;
                    }

                    .pet-description {
                        margin: 40px 0;
                        font-size: 15px;
                        line-height: 110%;
                        letter-spacing: 0.06em;
                    }

                    .pet-info {
                        ul {
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            gap: 12px;

                            .modal-li {
                                position: relative;
                                padding-left: 15px;

                                span {
                                    font-family: Georgia-Bold, sans-serif;
                                    font-size: 15px;
                                    line-height: 110%;
                                    letter-spacing: normal;
                                    position: relative;

                                    &:nth-child(2) {
                                        font-family: Georgia-Regular, sans-serif;
                                    }
                                }

                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: 7px;
                                    left: 0;
                                    width: 4px;
                                    height: 4px;
                                    border-radius: 50%;
                                    margin-right: 15px;
                                    background-color: $primary-color;
                                }
                            }

                            li::before {
                                content: url('../../assets/images/dot.png');
                                color: $primary-color;
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                        }
                    }

                }

                .close-btn {
                    @include roud-btn();
                    position: absolute;
                    top: -53px;
                    right: -40px;
                }

                &:hover .close-btn {
                    background-color: $color-primary-light;
                    border: 2px solid $color-primary-light;
                }
            }
        }
    }
}

.help {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: $color-light-xl;

    .container {
        @include flex-column();
        align-items: center;
        gap: 60px;

        .help-title {
            @include title();
            max-width: 308px;
            text-align: center;
            letter-spacing: 1.9px;
        }

        .help-items {
            @include flex();
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 55px 120px;

            .help-item {
                @include flex-column();
                gap: 30px;
                align-items: center;
                justify-content: center;

                .help-item-title {
                    font-family: Georgia-Regular, sans-serif;
                    font-size: 20px;
                    line-height: 115%;
                    letter-spacing: 0.06em;
                    text-align: center;
                    color: $color-dark-l;
                }
            }
        }
    }
}

.donation {
    background-color: $color-light-l;
    padding-top: 80px;
    padding-bottom: 100px;

    .container {
        @include flex();
        justify-content: center;
        gap: 30px;

        .donation-image {
            padding-top: 11px;
            padding-bottom: 10px;
            max-height: 261px;
        }

        .donation-info {
            @include flex-column();
            gap: 20px;

            .donation-title {
                @include title();
                max-width: 300px;
            }

            span {
                font-family: Georgia-Regular, sans-serif;
                line-height: normal;
                letter-spacing: 1px;
                line-height: 110%;
            }

            .credit-card {
                @include flex();
                max-width: 349px;
                background-color: $primary-color;
                border-radius: 9px;
                padding: 10px 15px;
                box-sizing: border-box;
                text-decoration: none;
                transition: 0.5s;

                &:hover {
                    background-color: $color-primary-light;
                }

                .credit-card-number {
                    font-family: Georgia-Regular, sans-serif;
                    font-size: 20px;
                    line-height: 115%;
                    letter-spacing: 0.06em;
                    color: $color-dark-l;

                    span {
                        line-height: 115%;
                    }
                }
            }

            .donation-text {
                font-family: Arial-Italic, sans-serif;
                font-size: 12px;
                line-height: 150%;
                color: $color-dark-m;
                max-width: 380px;
            }
        }
    }
}

@keyframes next1 {
    0% {
        left: calc(50% - 495px);
    }

    to {
        left: -100%;
    }
}

@keyframes next2 {
    0% {
        left: 100%;
    }

    100% {
        left: calc(50% - 495px);
    }
}

@keyframes prev1 {
    from {
        left: calc(50% - 495px);
    }

    to {
        left: 100%;
    }
}

@keyframes prev2 {
    from {
        left: -100%;
    }

    to {
        left: calc(50% - 495px);
    }
}