* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Arial-Italic;
  src: url(../../assets/fonts/arial-italic.ttf);
}
@font-face {
  font-family: Arial-Regular;
  src: url(../../assets/fonts/arial-regular.ttf);
}
@font-face {
  font-family: Georgia-Regular;
  src: url(../../assets/fonts/georgia-regular.ttf);
}
@font-face {
  font-family: Georgia-Italic;
  src: url(../../assets/fonts/georgia-italic.ttf);
}
body {
  font-size: 15px;
  font-family: Arial-Regular, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.header .container .logo p {
  font-size: 32px;
  margin-bottom: 10px;
  color: #F1CDB3;
  font-family: Georgia-Regular, sans-serif;
}
.header .container .logo div {
  color: #FFFFFF;
}
.header .container .menu-list {
  list-style: none;
  display: flex;
  gap: 35px;
}
.header .container .menu-list .menu-item a {
  text-decoration: none;
  color: #CDCDCD;
}
.header .container .menu-list .menu-item:first-child a {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 4px;
}

.page {
  margin-top: -94px;
}

.main {
  background: radial-gradient(circle at top left, #5B483A, #262425);
  padding-top: 180px;
  background: url(../../assets/images/noise.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-repeat: repeat;
}
.main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 42px;
}
.main .container .main-description {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 42px;
}
.main .container .main-description .main-title {
  font-size: 44px;
  color: #FFFFFF;
  font-family: Georgia-Regular, sans-serif;
  max-width: 310px;
  line-height: 130%;
}
.main .container .main-description .main-text {
  color: #CDCDCD;
  line-height: 160%;
}
.main .container .main-description .main-btn {
  width: 207px;
}
.main .container .main-description .main-btn a {
  display: inline-block;
  border-radius: 100px;
  padding: 15px 45px;
  background-color: #F1CDB3;
  font-family: Georgia-Regular, sans-serif;
  font-size: 17px;
  line-height: 130%;
  color: #4C4C4C;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.about {
  background-color: #FFFFFF;
  padding-top: 80px;
  padding-bottom: 100px;
}
.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 120px;
}
.about .container .about-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  max-width: 430px;
}
.about .container .about-info .about-title {
  font-family: Georgia-Regular, sans-serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 363px;
  font-family: Georgia-Regular, sans-serif;
}
.about .container .about-info .about-text {
  line-height: 160%;
  color: #4c4c4c;
}

.pets {
  background-color: #f6f6f6;
  padding-top: 80px;
  padding-bottom: 100px;
}
.pets .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  position: relative;
}
.pets .container .pets-title {
  font-family: Georgia-Regular, sans-serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.pets .container .pets-title span {
  display: block;
  text-align: center;
}
.pets .container .narrow {
  position: absolute;
  top: calc(50% - 20px);
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pets .container .narrow.narrow-back {
  left: -53px;
}
.pets .container .narrow.narrow-next {
  right: -53px;
}
.pets .container .pets-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
}
.pets .container .pets-cards .card {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-radius: 9px 9px 0 0;
  padding-bottom: 30px;
}
.pets .container .pets-cards .card .pet-name {
  font-family: Georgia-Regular, sans-serif;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
.pets .container .pets-cards .card .pet-btn {
  width: 187px;
}
.pets .container .pets-cards .card .pet-btn a {
  display: inline-block;
  border-radius: 100px;
  padding: 15px 45px;
  background-color: #F1CDB3;
  font-family: Georgia-Regular, sans-serif;
  font-size: 17px;
  line-height: 130%;
  color: #4C4C4C;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #F1CDB3;
}
.pets .container .pets-btn {
  width: 261px;
}
.pets .container .pets-btn a {
  display: inline-block;
  border-radius: 100px;
  padding: 15px 45px;
  background-color: #F1CDB3;
  font-family: Georgia-Regular, sans-serif;
  font-size: 17px;
  line-height: 130%;
  color: #4C4C4C;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */