@media screen and (max-width: 768px) {
    .container {
        padding: 0 30px;
    }

    .main {
        padding-top: 150px;

        .container {
            flex-direction: column;
            gap: 22px;

            .main-description {
                align-items: center;

                .main-title {
                    align-self: flex-start;
                }
            }

            .main-image {
                max-height: 593px;
                max-width: 569px;
                align-self: flex-end;

                img {
                    width: 100%;
                }
            }
        }
    }

    .about {
        .container {
            flex-direction: column-reverse;
            gap: 80px;
        }
    }

    .pets {
        .container {
            .pets-cards-wrapper {
                gap: 12px;

                .pets-cards {
                    gap: 40px;
                    justify-content: center;

                    .card:nth-child(3) {
                        display: none;
                    }
                }
            }
        }

    }

    .help {
        .container {
            .help-items {
                max-width: 630px;
                gap: 55px 60px;

                .help-item {
                    width: 170px;
                }
            }
        }
    }

    .donation {
        .container {
            flex-direction: column-reverse;
            gap: 60px;

            .donation-image {
                padding: 0;
            }
        }
    }
}