@media screen and (max-width: 1279px) {
  .main .container .main-image {
    width: 50%;
  }
  .main .container .main-image img {
    width: 100%;
  }
  .pets .container .pets-cards-wrapper {
    gap: 3px;
  }
}
@media screen and (max-width: 1100px) {
  .pets .container .pets-cards-wrapper {
    gap: 20px;
  }
  .pets .container .pets-cards-wrapper .pets-cards {
    gap: 40px;
    justify-content: center;
  }
  .pets .container .pets-cards-wrapper .pets-cards .card:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 1083px) {
  .main {
    padding-top: 150px;
  }
  .main .container {
    flex-direction: column;
    gap: 22px;
  }
  .main .container .main-description {
    align-items: center;
  }
  .main .container .main-image {
    max-height: 593px;
    max-width: 569px;
    width: 100%;
  }
  .main .container .main-image img {
    width: 100%;
  }
  .footer {
    padding: 30px 30px 0 30px;
  }
  .footer .container {
    flex-wrap: wrap;
    padding: 0 34px;
    justify-content: center;
  }
  .footer .container .footer-contacts {
    padding-top: 0;
    margin-right: 59px;
  }
  .footer .container .footer-address {
    padding-top: 0;
  }
  .footer .container .footer-image {
    margin-top: 65px;
  }
}
@media screen and (max-width: 946px) {
  .donation .container {
    flex-direction: column-reverse;
    gap: 60px;
  }
  .donation .container .donation-image {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
  .main .container .main-description {
    align-items: center;
  }
  .main .container .main-description .main-title {
    align-self: flex-start;
  }
  .main .container .main-image {
    align-self: flex-end;
  }
  .about .container {
    flex-direction: column-reverse;
    gap: 80px;
  }
  .pets .container .pets-cards-wrapper {
    gap: 12px;
  }
  .help .container .help-items {
    max-width: 630px;
    gap: 55px 60px;
  }
  .help .container .help-items .help-item {
    width: 170px;
  }
}
@media screen and (max-width: 767px) {
  .header .container .menu {
    display: none;
  }
  .header .container .burger {
    display: flex;
  }
}
@media screen and (max-width: 320px) {
  .header .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main .container .main-description {
    justify-content: center;
  }
  .main .container .main-description .main-title {
    font-size: 25px;
    text-align: center;
    max-width: 233px;
  }
  .main .container .main-image {
    max-width: 260px;
  }
  .about {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .about .container {
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
  }
  .about .container .about-info .about-title {
    font-size: 25px;
    text-align: center;
    max-width: 233px;
  }
  .about .container .about-image {
    max-width: 260px;
  }
  .about .container .about-image img {
    width: 100%;
  }
  .pets {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .pets .container {
    padding-left: 10px;
    padding-right: 10px;
    gap: 114px;
  }
  .pets .container .pets-title {
    font-size: 25px;
    text-align: center;
    max-width: 233px;
    max-width: 286px;
  }
  .pets .container .pets-cards-wrapper {
    position: relative;
  }
  .pets .container .pets-cards-wrapper .pets-cards .card:not(:first-child) {
    display: none;
  }
  .pets .container .pets-cards-wrapper .narrow {
    position: absolute;
    bottom: -71px;
  }
  .pets .container .pets-cards-wrapper .narrow.narrow-back {
    left: 44px;
  }
  .pets .container .pets-cards-wrapper .narrow.narrow-next {
    right: 44px;
  }
}/*# sourceMappingURL=adaptive.css.map */