$color-dark-s: #CDCDCD;
$color-light-s: #FAFAFA;
$primary-color: #F1CDB3;
$color-primary-light: #fddcc4;
$color-light-xl: #FFFFFF;
$color-light-l: #f6f6f6;
$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-m: #b2b2b2;