* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Arial-Italic;
  src: url(../../assets/fonts/arial-italic.ttf);
}
@font-face {
  font-family: Arial-Regular;
  src: url(../../assets/fonts/arial-regular.ttf);
}
@font-face {
  font-family: Georgia-Regular;
  src: url(../../assets/fonts/georgia-regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Georgia-Italic;
  src: url(../../assets/fonts/georgia-italic.ttf);
}
@font-face {
  font-family: Georgia-Bold;
  src: url(../../assets/fonts/georgia-bold.ttf);
}
html {
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  font-family: Arial-Regular, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px;
  box-sizing: border-box;
}

.header {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding-bottom: 30px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.header .container .logo {
  text-decoration: none;
}
.header .container .logo .logo-title {
  font-size: 32px;
  color: #F1CDB3;
  font-family: Georgia-Regular, sans-serif;
  line-height: 110%;
  letter-spacing: 0.06em;
  transition: 0.5s;
}
.header .container .logo h1 {
  margin-top: 10px;
  color: #FFFFFF;
  letter-spacing: 1.4px;
  font-size: 13px;
  padding-left: 3px;
  font-weight: normal;
  margin-bottom: 0;
  transition: 0.5s;
}
.header .container .logo:hover span {
  color: #f6f6f6;
}
.header .container .logo:hover h1 {
  color: #fddcc4;
}
.header .container .menu .menu-list {
  list-style: none;
  display: flex;
  gap: 35px;
  padding-bottom: 3px;
}
.header .container .menu .menu-list .menu-item {
  transition: 0.5s;
}
.header .container .menu .menu-list .menu-item a {
  text-decoration: none;
  color: #CDCDCD;
  line-height: 115%;
  border-bottom: 3px solid transparent;
  padding-bottom: 3px;
  letter-spacing: 0.1px;
  transition: 0.3s;
  box-sizing: border-box;
}
.header .container .menu .menu-list .menu-item.active a {
  cursor: default;
  pointer-events: none;
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 3px;
  box-sizing: border-box;
}
.header .container .menu .menu-list .menu-item:hover:not(.active) a {
  color: #FAFAFA;
}
.header .container .burger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  transition: all 0.7s ease;
}
.header .container .burger .burger-line {
  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
}
.header .container .burger.active {
  transform: rotate(90deg);
}
.header.pets-header .container .burger .burger-line {
  background-color: #000;
}

.footer {
  background: url(../../assets/images/noise.png), radial-gradient(circle at top left, #5B483A, #262425 85%);
  background-repeat: repeat;
  padding-top: 40px;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;
}
.footer .container .footer-contacts {
  max-width: 279px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: initial;
  gap: 40px;
  padding-top: 16px;
}
.footer .container .footer-contacts .contacts-title {
  font-family: Georgia-Regular, sans-serif;
  font-size: 35px;
  line-height: 129%;
  letter-spacing: 0.06em;
  color: #545454;
  font-weight: normal;
  color: #FFFFFF;
}
.footer .container .footer-contacts .contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 251px;
  text-decoration: none;
  transition: 0.5s;
}
.footer .container .footer-contacts .contact svg path {
  transition: 0.5s;
}
.footer .container .footer-contacts .contact span {
  font-family: Georgia-Regular, sans-serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  transition: 0.5s;
}
.footer .container .footer-contacts .contact.contact-phone {
  justify-content: flex-start;
  gap: 20px;
}
.footer .container .footer-contacts .contact:hover span {
  color: #FFFFFF;
}
.footer .container .footer-contacts .contact:hover svg path {
  fill: #FFFFFF;
}
.footer .container .footer-address {
  max-width: 302px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: initial;
  gap: 32px;
  padding-top: 16px;
}
.footer .container .footer-address .address-title {
  font-family: Georgia-Regular, sans-serif;
  font-size: 35px;
  line-height: 129%;
  letter-spacing: 0.06em;
  color: #545454;
  font-weight: normal;
  color: #FFFFFF;
}
.footer .container .footer-address .contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  justify-content: flex-start;
  text-decoration: none;
  transition: 0.5s;
}
.footer .container .footer-address .contact svg {
  flex-shrink: 0;
}
.footer .container .footer-address .contact svg path {
  transition: 0.5s;
}
.footer .container .footer-address .contact span {
  font-family: Georgia-Regular, sans-serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  transition: 0.5s;
}
.footer .container .footer-address .contact:hover span {
  color: #FFFFFF;
}
.footer .container .footer-address .contact:hover svg path {
  fill: #FFFFFF;
}
.footer .container .footer-image {
  max-height: 310px;
}
.footer .container .footer-image img {
  height: 100%;
}/*# sourceMappingURL=common-styles.css.map */