* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Arial-Italic;
    src: url(../../assets/fonts/arial-italic.ttf);
}

@font-face {
    font-family: Arial-Regular;
    src: url(../../assets/fonts/arial-regular.ttf);
}

@font-face {
    font-family: Georgia-Regular;
    src: url(../../assets/fonts/georgia-regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Georgia-Italic;
    src: url(../../assets/fonts/georgia-italic.ttf);
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin list {
    list-style: none;
    display: flex;
}

@mixin btn {
    display: inline-block;
    border-radius: 100px;
    padding: 15px 45px;
    background-color: $primary-color;
    outline: none;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    font-family: Georgia-Regular, sans-serif;
    font-size: 17px;
    line-height: 130%;
    color: $color-dark-3xl;
}

@mixin btn-link {
    display: inline-block;
    font-family: Georgia-Regular, sans-serif;
    font-size: 17px;
    line-height: 130%;
    color: $color-dark-3xl;
    text-decoration: none;
    letter-spacing: 1px;
}

@mixin title {
    font-family: Georgia-Regular, sans-serif;
    font-size: 35px;
    line-height: 129%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    font-weight: normal;
}



@mixin roud-btn {
    border-radius: 100px;
    border: 2px solid $primary-color;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.5s;

    &:hover {
        background-color: $color-primary-light;
        border: 2px solid $color-primary-light;
    }
}

@mixin contact {
    font-family: Georgia-Regular, sans-serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $primary-color;
    transition: 0.5s;
}

@mixin card {
    background-color: $color-light-s;
    @include flex-column();
    align-items: center;
    padding-bottom: 30px;
    gap: 30px;
    border-radius: 9px;
    cursor: pointer;
    max-height: 435px;
    box-sizing: border-box;
    transition: 0.5s;

    .pet-image {
        max-height: 270px;
        border-radius: 9px 9px 0 0;

        img {
            height: 100%;
        }
    }

    .pet-name {
        font-family: Georgia-Regular, sans-serif;
        font-size: 20px;
        letter-spacing: 0.06em;
        text-align: center;
        color: $color-dark-l;
    }

    .pet-btn {
        @include btn();
        display: inline-block;
        width: 187px;
        background-color: transparent;
        border: 2px solid $primary-color;
        letter-spacing: 0.5px;
        padding: 13px 45px;
        line-height: 130%;
        transition: 0.5s;
    }

    &:hover {
        background-color: $color-light-xl;
        box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);

        .pet-btn {
            background-color: $color-primary-light;
            border: 2px solid $color-primary-light;
        }

    }
}

$color-dark-s: #CDCDCD;
$color-light-s: #FAFAFA;
$primary-color: #F1CDB3;
$color-primary-light: #fddcc4;
$color-light-xl: #FFFFFF;
$color-light-l: #f6f6f6;
$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-m: #b2b2b2;

html {
    scroll-behavior: smooth;
}

body {
    font-size: 15px;
    font-family: Arial-Regular, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 40px;
    box-sizing: border-box;
}

.header {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding-bottom: 30px;

    .container {
        @include flex();
        padding-top: 30px;

        .logo {
            text-decoration: none;

            .logo-title {
                font-size: 32px;
                color: $primary-color;
                font-family: Georgia-Regular, sans-serif;
                line-height: 110%;
                letter-spacing: 0.06em;
                transition: 0.5s;
            }

            h1 {
                margin-top: 10px;
                color: $color-light-xl;
                letter-spacing: 1.4px;
                font-size: 13px;
                padding-left: 3px;
                font-weight: normal;
                margin-bottom: 0;
                transition: 0.5s;
            }

            &:hover {
                span {
                    color: $color-light-l;
                }

                h1 {
                    color: $color-primary-light;
                }
            }
        }

        .menu {

            .menu-list {
                @include list();
                gap: 35px;
                padding-bottom: 3px;

                .menu-item {
                    transition: 0.5s;

                    a {
                        text-decoration: none;
                        color: $color-dark-s;
                        line-height: 115%;
                        border-bottom: 3px solid transparent;
                        padding-bottom: 3px;
                        letter-spacing: 0.1px;
                        transition: 0.3s;
                        box-sizing: border-box;
                    }

                    &.active {
                        a {
                            cursor: default;
                            pointer-events: none;
                            color: $color-light-s;
                            border-bottom: 3px solid $primary-color;
                            padding-bottom: 3px;
                            box-sizing: border-box;
                        }
                    }

                    &:hover:not(.active) a {
                        color: $color-light-s;

                    }
                }
            }

           
        }



        .burger {
            width: 30px;
            height: 22px;
            @include flex-column();
            display: none;
            transition: all 0.7s ease;

            .burger-line {
                width: 30px;
                height: 2px;
                background-color: $primary-color;
            }

            &.active {
                transform: rotate(90deg);
            }
        }
    }

    &.pets-header {
        .container {
            .burger {
                .burger-line {
                    background-color: #000;
                }
            }
        }
    }
}


.footer {
    background: url(../../assets/images/noise.png), radial-gradient(circle at top left, #5B483A, #262425 85%);
    background-repeat: repeat;
    padding-top: 40px;

    .container {
        @include flex();
        align-items: stretch;

        .footer-contacts {
            max-width: 279px;
            @include flex-column();
            justify-content: initial;
            gap: 40px;
            padding-top: 16px;

            .contacts-title {
                @include title();
                color: $color-light-xl;
            }

            .contact {
                @include flex();
                max-width: 251px;
                text-decoration: none;
                transition: 0.5s;

                svg path {
                    transition: 0.5s;
                }


                span {
                    @include contact();
                }

                &.contact-phone {
                    justify-content: flex-start;
                    gap: 20px;
                }

                &:hover {
                    span {
                        color: $color-light-xl;
                    }

                    svg path {
                        fill: $color-light-xl;
                    }
                }
            }
        }

        .footer-address {
            max-width: 302px;
            @include flex-column();
            justify-content: initial;
            gap: 32px;
            padding-top: 16px;

            .address-title {
                @include title();
                color: $color-light-xl;
            }

            .contact {
                @include flex();
                gap: 20px;
                justify-content: flex-start;
                text-decoration: none;
                transition: 0.5s;

                svg {
                    flex-shrink: 0;

                    path {
                        transition: 0.5s;
                    }
                }

                span {
                    @include contact();
                }

                &:hover {
                    span {
                        color: $color-light-xl;
                    }

                    svg path {
                        fill: $color-light-xl;
                    }
                }
            }
        }

        .footer-image {
            max-height: 310px;

            img {
                height: 100%;
            }
        }
    }
}