@import url('./fonts.scss');
@import url('./mixins.scss');
@import url('./colors.scss');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 15px;
    font-family: Arial-Regular, sans-serif;
}


.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 40px;
    box-sizing: border-box;
}

.header {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding-bottom: 30px;

    .container {
        @include flex();
        padding-top: 30px;

        .logo {
            text-decoration: none;

            .logo-title {
                font-size: 32px;
                color: $primary-color;
                font-family: Georgia-Regular, sans-serif;
                line-height: 110%;
                letter-spacing: 0.06em;
                transition: 0.5s;
            }

            h1 {
                margin-top: 10px;
                color: $color-light-xl;
                letter-spacing: 1.4px;
                font-size: 13px;
                padding-left: 3px;
                font-weight: normal;
                margin-bottom: 0;
                transition: 0.5s;
            }

            &:hover {
                span {
                    color: $color-light-l;
                }

                h1 {
                    color: $color-primary-light;
                }
            }
        }

        .menu {

            .menu-list {
                @include list();
                gap: 35px;
                padding-bottom: 3px;

                .menu-item {
                    transition: 0.5s;

                    a {
                        text-decoration: none;
                        color: $color-dark-s;
                        line-height: 115%;
                        border-bottom: 3px solid transparent;
                        padding-bottom: 3px;
                        letter-spacing: 0.1px;
                        transition: 0.3s;
                        box-sizing: border-box;
                    }

                    &.active {
                        a {
                            cursor: default;
                            pointer-events: none;
                            color: $color-light-s;
                            border-bottom: 3px solid $primary-color;
                            padding-bottom: 3px;
                            box-sizing: border-box;
                        }
                    }

                    &:hover:not(.active) a {
                        color: $color-light-s;

                    }
                }
            }


        }



        .burger {
            width: 30px;
            height: 22px;
            @include flex-column();
            display: none;
            transition: all 0.7s ease;

            .burger-line {
                width: 30px;
                height: 2px;
                background-color: $primary-color;
            }

            &.active {
                transform: rotate(90deg);
            }
        }
    }

    &.pets-header {
        .container {
            .burger {
                .burger-line {
                    background-color: #000;
                }
            }
        }
    }
}

.footer {
    background: url(../../assets/images/noise.png), radial-gradient(circle at top left, #5B483A, #262425 85%);
    background-repeat: repeat;
    padding-top: 40px;

    .container {
        @include flex();
        align-items: stretch;

        .footer-contacts {
            max-width: 279px;
            @include flex-column();
            justify-content: initial;
            gap: 40px;
            padding-top: 16px;

            .contacts-title {
                @include title();
                color: $color-light-xl;
            }

            .contact {
                @include flex();
                max-width: 251px;
                text-decoration: none;
                transition: 0.5s;

                svg path {
                    transition: 0.5s;
                }


                span {
                    @include contact();
                }

                &.contact-phone {
                    justify-content: flex-start;
                    gap: 20px;
                }

                &:hover {
                    span {
                        color: $color-light-xl;
                    }

                    svg path {
                        fill: $color-light-xl;
                    }
                }
            }
        }

        .footer-address {
            max-width: 302px;
            @include flex-column();
            justify-content: initial;
            gap: 32px;
            padding-top: 16px;

            .address-title {
                @include title();
                color: $color-light-xl;
            }

            .contact {
                @include flex();
                gap: 20px;
                justify-content: flex-start;
                text-decoration: none;
                transition: 0.5s;

                svg {
                    flex-shrink: 0;

                    path {
                        transition: 0.5s;
                    }
                }

                span {
                    @include contact();
                }

                &:hover {
                    span {
                        color: $color-light-xl;
                    }

                    svg path {
                        fill: $color-light-xl;
                    }
                }
            }
        }

        .footer-image {
            max-height: 310px;

            img {
                height: 100%;
            }
        }
    }
}