* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Yonezawa';
    src: url(../assets/fonts/Yonezawa.ttf);
}

@mixin cell {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    background-color: white;
}

@mixin btn {
    padding: 10px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid $first-color;
    background-color: $second-color;
    outline: none;
    font-family: Yonezawa, sans-serif;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
}

/* $first-color: #bf4027; */
$first-color: #772e4f;
$second-color: #cfb4b4;

body {
    background: url(../assets/images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100dvh;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
    font-family: Yonezawa, sans-serif;
    font-size: 12px;

    .results {
        position: absolute;
    }


    .grid {
        display: grid;
        grid-template-columns: repeat(9, auto);
        grid-template-rows: repeat(9, auto);
        gap: 2px;
        background-color: $first-color;
        padding: 15px;

        .cell {
            @include cell();
            background-color: white;


            &:nth-child(3),
            &:nth-child(6) {
                margin-right: 5px;
            }

            &:nth-child(27),
            &:nth-child(54) {
                margin-bottom: 5px;
            }

            &.numbered {
                background-color: $second-color;
            }

            &.default {
                background-color: rgb(143 136 136);
            }

            &.focused:not(.default) {
                background-color: #e7aca0;
            }

            &.numbered.error {
                background-color: #db3610;
            }
        }
    }

    .numbers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        .number {
            @include cell();
            background-color: $first-color;
            color: white;
        }

        .remove {
            @include cell();
            background-color: $first-color;
            color: white;
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;

        .btn {
            @include btn();
        }
    }

    .popup {
        position: fixed;
        top: calc(50% - 125px);
        left: calc(50% - 150px);
        width: 300px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 15px;
        background-color: $first-color;
        color: white;
        opacity: 0;
        visibility: hidden;
        z-index: 5;
        transition: all 0.5s linear;
        letter-spacing: 1px;

        &.active {
            opacity: 1;
            visibility: visible;
        }

        .popup-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            .popup-btn {
                @include btn();
                border: 2px solid white;
            }
        }
    }
}