* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Kashima";
  src: url(../assets/fonts/Kashima.otf);
}
body {
  background: url(../assets/images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 15px 0 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  font-family: Kashima, sans-serif;
  font-size: 20px;
}
.container .game {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 30px;
}
.container .game .results {
  align-self: flex-end;
  min-height: 300px;
}
.container .game .results p {
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 15px;
  border-bottom: 3px solid #772e4f;
}
.container .game .results .scores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.container .game .results .scores .score {
  font-size: 18px;
}
.container .game .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}
.container .game .main .cherries {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.container .game .main .cherries .cherry {
  display: inline-block;
  width: 70px;
  opacity: 0;
}
.container .game .main .cherries .cherry.end {
  z-index: 10;
  animation: cherry-move linear forwards;
}
.container .game .main .cherries .cherry.end.cherry1 {
  animation-delay: 1s;
  animation-duration: 3s;
}
.container .game .main .cherries .cherry.end.cherry2 {
  animation-duration: 5s;
}
.container .game .main .cherries .cherry.end.cherry3 {
  animation-duration: 1.5s;
  animation-duration: 6s;
}
.container .game .main .cherries .cherry.end.cherry4 {
  animation-duration: 3s;
}
.container .game .main .cherries .cherry.end.cherry5 {
  animation-delay: 1s;
  animation-duration: 4s;
}
.container .game .main .game-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}
.container .game .main .game-info .timer {
  padding: 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid #772e4f;
  background-color: #cfb4b4;
  outline: none;
  font-family: Kashima, sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  cursor: default;
}
@media screen and (max-width: 938px) {
  .container .game .main .game-info .timer {
    font-size: 16px;
  }
}
.container .game .main .game-info .levels {
  padding: 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid #772e4f;
  background-color: #cfb4b4;
  outline: none;
  font-family: Kashima, sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 16px;
}
@media screen and (max-width: 938px) {
  .container .game .main .game-info .levels {
    font-size: 16px;
  }
}
.container .game .main .grid {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(9, auto);
  gap: 2px;
  background-color: #772e4f;
  padding: 15px;
}
.container .game .main .grid .cell {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  background-color: white;
  cursor: pointer;
  background-color: white;
}
.container .game .main .grid .cell:nth-child(3), .container .game .main .grid .cell:nth-child(6) {
  margin-right: 5px;
}
.container .game .main .grid .cell:nth-child(27), .container .game .main .grid .cell:nth-child(54) {
  margin-bottom: 5px;
}
.container .game .main .grid .cell.numbered {
  background-color: #cfb4b4;
}
.container .game .main .grid .cell.default {
  background-color: rgb(143, 136, 136);
  cursor: auto;
}
.container .game .main .grid .cell.focused:not(.default) {
  background-color: #e7aca0;
}
.container .game .main .grid .cell.numbered.error {
  background-color: #db3610;
  animation: errorMove 1s linear infinite forwards;
}
.container .game .main .numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.container .game .main .numbers .number {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  background-color: white;
  cursor: pointer;
  background-color: #772e4f;
  color: white;
}
.container .game .main .numbers .remove {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  background-color: white;
  cursor: pointer;
  background-color: #772e4f;
  color: white;
}
.container .game .main .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.container .game .main .buttons .btn {
  padding: 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid #772e4f;
  background-color: #cfb4b4;
  outline: none;
  font-family: Kashima, sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
}
@media screen and (max-width: 938px) {
  .container .game .main .buttons .btn {
    font-size: 16px;
  }
}
.container .footer {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  font-size: 12px;
}
.container .footer a {
  display: block;
  width: 25px;
}
.container .footer a img {
  width: 100%;
}
.container .footer a:last-child {
  width: 35px;
}
.container .popup {
  position: fixed;
  top: calc(50% - 125px);
  left: calc(50% - 150px);
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #772e4f;
  color: white;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  transition: all 0.5s linear;
  letter-spacing: 1px;
}
.container .popup.active {
  opacity: 1;
  visibility: visible;
}
.container .popup .winner {
  width: 45px;
  height: 45px;
  opacity: 0;
  visibility: hidden;
  align-self: flex-start;
  position: absolute;
  left: 0;
  bottom: 0;
}
.container .popup .winner.active {
  opacity: 1;
  visibility: visible;
  animation: winner 3s ease-in-out 1 forwards;
}
.container .popup .popup-extra {
  font-size: 16px;
  text-align: center;
}
.container .popup .icon-wrapper {
  width: 45px;
  height: 45px;
  position: relative;
}
.container .popup .icon-wrapper .loosing {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
  position: absolute;
}
.container .popup .icon-wrapper .winner2 {
  opacity: 0;
  visibility: hidden;
}
.container .popup .icon-wrapper .winner2 .medal {
  opacity: 0;
  transition: all 1s linear;
}
.container .popup .icon-wrapper.lost .loosing {
  opacity: 1;
  visibility: visible;
}
.container .popup .icon-wrapper.won .winner2 {
  visibility: visible;
  animation: winner2 1s ease-in-out forwards;
  animation-delay: 2s;
}
.container .popup .icon-wrapper.won .winner2 .medal {
  opacity: 1;
  animation: balance 2s linear infinite forwards;
}
.container .popup .popup-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.container .popup .popup-buttons .popup-btn {
  padding: 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid #772e4f;
  background-color: #cfb4b4;
  outline: none;
  font-family: Kashima, sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  border: 2px solid white;
}
@media screen and (max-width: 938px) {
  .container .popup .popup-buttons .popup-btn {
    font-size: 16px;
  }
}

@keyframes errorMove {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
  0% {
    transform: scale(1);
  }
}
@keyframes winner {
  0% {
    transform: translate(0, 0);
  }
  98% {
    transform: translate(300px, -230px);
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes winner2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes balance {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-5px, -1px);
  }
  50% {
    transform: translate(0);
  }
  75% {
    transform: translate(5px, -1px);
  }
}
@media screen and (max-width: 938px) {
  .container {
    font-size: 18px;
  }
  .container .game .results {
    font-size: 16px;
    align-self: auto;
  }
  .container .game .results .scores .score {
    font-size: 16px;
  }
  .container .game .main .game-info .levels {
    font-size: 14px;
  }
}
@media screen and (max-width: 719px) {
  .container .game {
    flex-direction: column-reverse;
    align-self: center;
  }
  .container .game .results {
    align-self: center;
  }
}
@media screen and (max-width: 400px) {
  .container .game .main .grid .cell {
    width: 30px;
    height: 30px;
  }
  .container .game .main .numbers {
    flex-wrap: wrap;
    justify-content: center;
  }
  .container .game .main .numbers .number,
  .container .game .main .numbers .remove {
    width: 30px;
    height: 30px;
  }
}
@keyframes cherry-move {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(500px);
    opacity: 0;
  }
}/*# sourceMappingURL=styles.css.map */