* {
    margin: 0;
    padding: 0;
}

@mixin cell {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    background-color: white;

}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;

    .results {
        position: absolute;
    }


    .grid {
        display: grid;
        grid-template-columns: repeat(9, auto);
        grid-template-rows: repeat(9, auto);
        gap: 2px;
        background-color: gray;
        padding: 15px;

        .cell {
            @include cell();
            background-color: white;


            &:nth-child(3),
            &:nth-child(6) {
                margin-right: 5px;
            }

            &:nth-child(27),
            &:nth-child(54) {
                margin-bottom: 5px;
            }

            &.numbered {
                background-color: rgb(209, 209, 209);
            }

            &.default {
                background-color: rgb(177, 173, 173);
            }

            &.focused {
                background-color: rgb(240, 213, 163);
            }
        }
    }

    .numbers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        .number {
            @include cell();
            background-color: gray;
        }

        .remove {
            @include cell();
            background-color: gray;
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;

        .btn {
            padding: 10px 20px;
            border-radius: 10px;
        }
    }

    .popup {
        position: fixed;
        top: calc(50% - 125px);
        left: calc(50% - 150px);
        width: 300px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 15px;
        background-color: rebeccapurple;
        opacity: 0;
        visibility: hidden;
        z-index: 5;
        transition: all 0.5s linear;

        &.active {
            opacity: 1;
            visibility: visible;
        }

        .popup-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            .popup-btn {
                padding: 10px 20px;
            }
        }
    }
}