* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Yonezawa";
  src: url(../assets/fonts/Yonezawa.ttf);
}
/* $first-color: #bf4027; */
body {
  background: url(../assets/images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
  font-family: Yonezawa, sans-serif;
  font-size: 12px;
}
.container .results {
  position: absolute;
}
.container .grid {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(9, auto);
  gap: 2px;
  background-color: #772e4f;
  padding: 15px;
}
.container .grid .cell {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  background-color: white;
  cursor: pointer;
  background-color: white;
}
.container .grid .cell:nth-child(3), .container .grid .cell:nth-child(6) {
  margin-right: 5px;
}
.container .grid .cell:nth-child(27), .container .grid .cell:nth-child(54) {
  margin-bottom: 5px;
}
.container .grid .cell.numbered {
  background-color: #cfb4b4;
}
.container .grid .cell.default {
  background-color: rgb(143, 136, 136);
}
.container .grid .cell.focused:not(.default) {
  background-color: #e7aca0;
}
.container .grid .cell.numbered.error {
  background-color: #db3610;
  animation: errorMove 1s linear infinite forwards;
}
.container .numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.container .numbers .number {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  background-color: white;
  cursor: pointer;
  background-color: #772e4f;
  color: white;
}
.container .numbers .remove {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  background-color: white;
  cursor: pointer;
  background-color: #772e4f;
  color: white;
}
.container .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.container .buttons .btn {
  padding: 10px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid #772e4f;
  background-color: #cfb4b4;
  outline: none;
  font-family: Yonezawa, sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}
.container .popup {
  position: fixed;
  top: calc(50% - 125px);
  left: calc(50% - 150px);
  width: 300px;
  /*  height: 150px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #772e4f;
  color: white;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  transition: all 0.5s linear;
  letter-spacing: 1px;
}
.container .popup.active {
  opacity: 1;
  visibility: visible;
}
.container .popup .winner {
  width: 45px;
  height: 45px;
  opacity: 0;
  visibility: hidden;
  align-self: flex-start;
  position: absolute;
  left: 0;
  bottom: 0;
}
.container .popup .winner.active {
  opacity: 1;
  visibility: visible;
  animation: winner 4s ease-in-out 2s 1 forwards;
}
.container .popup .winner2 {
  width: 45px;
  height: 45px;
  opacity: 0;
  visibility: hidden;
}
.container .popup .winner2 .medal {
  opacity: 0;
  transition: all 1s linear;
}
.container .popup .winner2.active {
  visibility: visible;
  animation: winner2 1s ease-in-out forwards;
  animation-delay: 4s;
}
.container .popup .winner2.active .medal {
  opacity: 1;
  animation: balance 2s linear infinite forwards;
}
.container .popup .popup-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.container .popup .popup-buttons .popup-btn {
  padding: 10px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid #772e4f;
  background-color: #cfb4b4;
  outline: none;
  font-family: Yonezawa, sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  border: 2px solid white;
}

@keyframes errorMove {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
  0% {
    transform: scale(1);
  }
}
@keyframes winner {
  0% {
    transform: translate(0, 0);
  }
  98% {
    transform: translate(300px, -150px);
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes winner2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes balance {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-5px, -1px);
  }
  50% {
    transform: translate(0);
  }
  75% {
    transform: translate(5px, -1px);
  }
}/*# sourceMappingURL=styles.css.map */