* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Kashima';
    src: url(../assets/fonts/Kashima.otf);
}

@mixin cell {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    background-color: white;
    cursor: pointer;
}

@mixin btn {
    padding: 10px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid $first-color;
    background-color: $second-color;
    outline: none;
    font-family: Kashima, sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;

    @media screen and (max-width: 938px) {
        font-size: 16px;
    }
}

$first-color: #772e4f;
$second-color: #cfb4b4;

body {
    background: url(../assets/images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100dvh;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 30px;
    position: relative;
    font-family: Kashima, sans-serif;
    font-size: 20px;

    .results {
        align-self: flex-end;

        p {
            padding: 5px;
            box-sizing: border-box;
            cursor: pointer;
            animation: showResults 5s linear infinite forwards;
            margin-bottom: 15px;
        }

        .scores {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            .score {
                font-size: 18px;
            }
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .game-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 75%;

            .timer {
                @include btn();
                cursor: default;
            }

            .levels {
                @include btn();
                font-size: 16px;
            }
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(9, auto);
            grid-template-rows: repeat(9, auto);
            gap: 2px;
            background-color: $first-color;
            padding: 15px;

            .cell {
                @include cell();
                background-color: white;


                &:nth-child(3),
                &:nth-child(6) {
                    margin-right: 5px;
                }

                &:nth-child(27),
                &:nth-child(54) {
                    margin-bottom: 5px;
                }

                &.numbered {
                    background-color: $second-color;
                }

                &.default {
                    background-color: rgb(143 136 136);
                    cursor: auto;
                }

                &.focused:not(.default) {
                    background-color: #e7aca0;
                }

                &.numbered.error {
                    background-color: #db3610;
                    animation: errorMove 1s linear infinite forwards;
                }
            }
        }

        .numbers {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;

            .number {
                @include cell();
                background-color: $first-color;
                color: white;
            }

            .remove {
                @include cell();
                background-color: $first-color;
                color: white;
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;

            .btn {
                @include btn();
            }
        }
    }



    .popup {
        position: fixed;
        top: calc(50% - 125px);
        left: calc(50% - 150px);
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 15px;
        background-color: $first-color;
        color: white;
        opacity: 0;
        visibility: hidden;
        z-index: 5;
        transition: all 0.5s linear;
        letter-spacing: 1px;

        &.active {
            opacity: 1;
            visibility: visible;
        }

        .winner {
            width: 45px;
            height: 45px;
            opacity: 0;
            visibility: hidden;
            align-self: flex-start;
            position: absolute;
            left: 0;
            bottom: 0;

            &.active {
                opacity: 1;
                visibility: visible;
                animation: winner 3s ease-in-out 1 forwards;
            }
        }

        .popup-extra {
            font-size: 16px;
            text-align: center;
        }

        .icon-wrapper {
            width: 45px;
            height: 45px;
            position: relative;

            .loosing {
                opacity: 0;
                visibility: hidden;
                transition: all .2s linear;
                position: absolute;
            }

            .winner2 {
                opacity: 0;
                visibility: hidden;

                .medal {
                    opacity: 0;
                    transition: all 1s linear;
                }
            }

            &.lost {
                .loosing {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &.won {

                .winner2 {
                    visibility: visible;
                    animation: winner2 1s ease-in-out forwards;
                    animation-delay: 2s;

                    .medal {
                        opacity: 1;
                        animation: balance 2s linear infinite forwards;
                    }
                }
            }
        }


        .popup-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            .popup-btn {
                @include btn();
                border: 2px solid white;
            }
        }
    }
}

@keyframes errorMove {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }

    0% {
        transform: scale(1);
    }
}

@keyframes winner {
    0% {
        transform: (translate(0, 0));
    }

    98% {
        transform: (translate(300px, -230px));
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes winner2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes balance {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(-5px, -1px);
    }

    50% {
        transform: translate(0);
    }

    75% {
        transform: translate(5px, -1px);
    }
}

@keyframes showResults {

    0% {
        background-color: #772e4f;
    }

    25% {
        background-color: #db3610;
    }

    50% {
        background-color: gray;
    }

    75% {
        background-color: rgb(219, 212, 212);
    }

    100% {
        background-color: #772e4f;
    }
}


@media screen and (max-width: 938px) {
    .container {
        font-size: 18px;

        .results {
            font-size: 16px;
            align-self: auto;

            .scores {
                .score {
                    font-size: 16px;
                }
            }
        }

        .main {
            .game-info {
                .levels {
                    font-size: 14px;
                }
            }
        }
    }
}