* {
    margin: 0;
    padding: 0;
}

$first-color: #00ffff;

@font-face {
    font-family: Garamond;
    src: url('../assets/fonts/garamond.ttf');
}


body {
    background-color: black;
    min-height: 100dvh;
    position: relative;
    font-family: Garamond, sans-serif;

    .loader {
        position: fixed;
        top: calc((100% - 102px)/2);
        left: calc((100% - 38px)/2);
        width: 75px;
        height: 75px;
        border: 10px solid rgba(0, 255, 255, 0.5);
        border-radius: 50%;
        border-left-color: $first-color;
        animation: loader 1.5s linear infinite;
        z-index: 5;
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    .container {
        max-width: 1280px;
        margin: 0 auto;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;
            border-bottom: 3px solid $first-color;
            box-sizing: border-box;

            .logo {
                display: flex;
                align-items: center;
                gap: 20px;

                img {
                    width: 50px;
                    max-height: 50px;
                }

                p {
                    color: $first-color;
                    font-size: 24px;
                }
            }

            .search {
                position: relative;

                input {
                    box-sizing: border-box;
                    border-radius: 25px;
                    padding: 10px 25px;
                    width: 270px;
                    color: #000;
                    outline: 0;
                    background-color: white;
                    font-size: 15px;
                    box-sizing: border-box;
                    font-family: Garamond, sans-serif;

                    &::placeholder {
                        font-family: Garamond, sans-serif;
                    }

                    &:focus {
                        box-shadow: 0 0 15px $first-color;
                        ;
                    }
                }

                .icons {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    .magnifier {
                        width: 30px;
                        cursor: pointer;
                        transition: all .3s linear;

                        &:hover {
                            fill: rgba(0, 255, 255, 0.5);
                        }
                    }

                    .cross {
                        width: 30px;
                        cursor: pointer;
                        opacity: 0;
                        visibility: hidden;
                        transition: all .3s linear;

                        &.active {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }

        .main {
            padding: 25px;
            color: $first-color;
            font-size: 20px;
            min-height: calc(100dvh - 64px);

            .images-wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto 200px;
                gap: 15px;

                .text-wrapper {
                    align-self: flex-start;
                }

                .image-wrapper {
                    height: 200px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    &:hover {
                        animation: move 1.3s linear forwards;
                    }
                }
            }
        }
    }

    .footer {
        position: sticky;
        bottom: 0;
        background-color: $first-color;
        width: 100%;

        .footer-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1280px;
            margin: 0 auto;
            padding: 5px 25px;
            box-sizing: border-box;

            a {
                text-decoration: none;
                display: inline-block;
                width: 50px;

                img {
                    width: 100%;
                }

                &.school {
                    width: 70px;
                }
            }

            span {
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    body {
        .container {
            .main {
                .images-wrapper {
                    grid-template-rows: auto 150px;

                    .image-wrapper {
                        height: 150px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 890px) {
    body {
        .container {
            .main {
                .images-wrapper {
                    grid-template-rows: auto 130px;

                    .image-wrapper {
                        height: 130px;
                    }
                }
            }
        }
    }
}


@keyframes move {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}