@import '../common/common-styles.scss';

.header {
    background-color: $color-light-xl;

    .container {
        .logo {
            .logo-title {
                color: $color-dark-l;
            }

            h1 {
                color: $color-dark-3xl;
            }

            &:hover {

                span {
                    color: $color-dark-3xl;
                }

                h1 {
                    color: $color-dark-l;
                }
            }
        }

        .menu {
            .menu-list {
                .menu-item {
                    a {
                        color: $color-dark-l;
                    }

                    &.active {
                        a {
                            color: $color-dark-3xl;
                        }
                    }

                    &:hover:not(.active) a {
                        color: $color-dark-3xl;
                    }
                }
            }
        }


    }
}

.main {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: $color-light-l;

    .container {
        @include flex-column();
        justify-content: center;
        align-items: center;
        gap: 45px;

        .main-title {
            @include title();
            max-width: 400px;

            span {
                display: block;
                text-align: center;
            }
        }

        .friends {
            @include flex();
            flex-wrap: wrap;
            gap: 30px 40px;
            padding: 15px 0;

            .card {
                @include card();

                .pet-btn {
                    line-height: 138%;
                }
            }
        }

        .pagination {
            @include flex();
            gap: 20px;
            max-width: 340px;

            .page {
                @include roud-btn();

                &.current-page {
                    font-family: Georgia-Regular, sans-serif;
                    font-size: 20px;
                    line-height: 110%;
                    letter-spacing: 0.06em;
                    text-align: center;
                    color: $color-dark-3xl;
                    background-color: $primary-color;
                    cursor: default;
                    pointer-events: none;
                }

                &.active {
                    border: 2px solid $primary-color;
                }

                &.disabled {
                    border: 2px solid $color-dark-s;
                    cursor: default;
                    pointer-events: none;
                    color: $color-dark-s;
                    background-color: transparent;
                }

                &:hover:not(.disabled) {
                    background: $color-primary-light;
                    color: $color-dark-3xl;

                    &.active {
                        border: 2px solid $color-primary-light;
                    }
                }
            }
        }

        .modal-wrapper {
            position: fixed;
            width: 100dvw;
            height: 100dvh;
            background-color: rgba(41, 41, 41, 0.6);
            top: 0;
            left: 0;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            transition: all 0.7s ease;


            .modal-window {
                box-sizing: border-box;
                padding-right: 20px;
                max-width: 900px;
                max-height: 500px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 29px;
                background-color: $color-light-s;
                position: fixed;
                z-index: 10;
                border-radius: 9px;
                box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);


                .modal-image {
                    max-height: 500px;
                    /*  padding-left: 17px;
                    margin-bottom: -44px; */

                    img {
                        width: 500px;
                        height: 100%;
                        border-radius: 9px 0 0 9px;
                    }
                }

                .modal-info {
                    padding-top: 50px;
                    padding-bottom: 88px;
                    color: #000000;
                    max-width: 351px;
                    font-family: Georgia-Regular, sans-serif;

                    .pet-name {
                        @include title();
                        color: #000000;
                        margin-bottom: 10px;
                    }

                    span {
                        font-size: 20px;
                        line-height: 115%;
                        letter-spacing: 0.06em;
                    }

                    .pet-description {
                        margin: 40px 0;
                        font-size: 15px;
                        line-height: 110%;
                        letter-spacing: 0.06em;
                    }

                    .pet-info {
                        ul {
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            gap: 12px;

                            .modal-li {
                                position: relative;
                                padding-left: 15px;

                                span {
                                    font-family: Georgia-Bold, sans-serif;
                                    font-size: 15px;
                                    line-height: 110%;
                                    letter-spacing: 0.05em;
                                    position: relative;

                                    &:nth-child(2) {
                                        font-family: Georgia-Regular, sans-serif;
                                    }
                                }

                                /*   p {
                                    line-height: 110%;
                                    letter-spacing: 0.05em;
                                    font-size: 15px;
                                } */

                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: 7px;
                                    left: 0;
                                    width: 4px;
                                    height: 4px;
                                    border-radius: 50%;
                                    margin-right: 15px;
                                    background-color: $primary-color;
                                }
                            }

                            li::before {
                                content: url('../../assets/images/dot.png');
                                color: $primary-color;
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                        }
                    }

                }

                .close-btn {
                    @include roud-btn();
                    position: absolute;
                    top: -53px;
                    right: -40px;
                }

                &:hover .close-btn {
                    background-color: $color-primary-light;
                    border: 2px solid $color-primary-light;
                }
            }
        }
    }
}